<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
    <test thread-count="5" name="FacebookTest">
        <classes>
            <class name="SeleniumWebSignupTest">
                <methods>
                    <include name="start"/>
                    <include name="negativesignup"/>
                    <include name="clickUser1Item"/>
                    <include name="verifyItem"/>

                </methods>
            </class> <!-- SeleniumWebSignupTest -->
        </classes>
    </test> <!-- FacebookTest -->
</suite> <!-- Default Suite -->
